# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server (Preview) and MongoDB (Preview).
DATABASE_PROVIDER=sqlite
DATABASE_URL=file:./database.sqlite

DISCORD_TOKEN=

PORT=3000

MANGA_CRON_PATTERN="* * * * *"
